#ServiceInfo div.info-block.actions {
  margin-top: auto;
}

#ServiceInfo div.info-block.actions div.row {
  gap: 10px !important;
  padding: 10px;
  justify-content: end;
  width: 100%;
  align-items: center;
}

#ServiceInfo div.info-block.actions div.row button {
  margin: 0;
}
