#ServiceInfo div.info-block.actions {
  margin-top: auto;
}

#ServiceInfo div.info-block.actions div.row {
  gap: 10px !important;
  padding: 10px;
  justify-content: end;
  width: 100%;
  align-items: center;
}

#ServiceInfo div.info-block.actions div.row button {
  margin: 0;
}

#ServiceInfo div.info-block.actions div.row p.id {
  margin: 0;
  margin-right: auto;
  padding: 0 5px;
  opacity: 0.5;
  font-family: "Source Code Pro", monospace;
}
