#ServiceInfo div.info-block div.controls {
  display: flex;
  gap: 2px;
  height: 20px;
}

#ServiceInfo div.info-block div.controls button.titlebar-control {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 15px;
  width: 18px;
  height: 18px;
  color: var(--fg);
  transition: opacity 0.2s;
}

#ServiceInfo div.info-block div.controls button.titlebar-control:hover {
  color: var(--accent-light);
}

#ServiceInfo div.info-block div.controls button.titlebar-control:disabled,
#ServiceInfo div.info-block div.controls button.titlebar-control:active {
  opacity: 0.2;
}
